.timeline-item {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  .company-card {
    position: relative;
    height: 70px;
    width: 70px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;

    img {
      height: 70px;
      width: 70px;
    }
  }

  .period-container {
    display: flex;

    &.left {
      align-items: flex-start;
      margin-left: 1.5rem;
    }

    &.right {
      justify-content: flex-end;
      margin-right: 1.5rem;
    }

    .period {
      margin-top:   35px;
      transform: translateY(-50%);
      background-color: var(--primary-color);
      color: var(--button-text-color);
      height: fit-content;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
    }
  }
}
