.project-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 18rem;
  height: auto;
}

.project-card:hover {
  transform: scale(1.03);
  box-shadow: var(--shadow-m);
  background-color: var(--bg-color-3);
}

.project-card a {
  color: var(--card-text-color);
  text-decoration: none;
}

.project-card p {
  text-align: start; 
}

.project-card img {
  height: 10rem;
}