header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  flex: 0 0 auto;
  position: relative;
}

.left-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.main-icon {
  padding: 0.5rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  top: 1rem;

  div {
    height: 1.5rem;
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
    transition: 0.3s;
  }
}

.full-icon {
  position: absolute;
  left: 50%;
  top: calc(50vh - 20rem);
  transform: translateX(-50%);

  svg {
    height: 19em;
    width: 19em;
  }
}

.move-right {
  margin-left: 3.5rem;
}

.bright-icon {
  transition: 0.3s;
  display: flex;
  padding: 0.5rem;
  cursor: pointer;

  div {
    height: 1.5rem;
  }

  svg {
    width: 1.5rem;
    height: auto;

    path {
      transition: 0.3s;
      fill: var(--text-color);
    }
  }
}

.bright-icon:hover svg path {
  fill: var(--primary-color);
}

.menu {
  display: flex;
  gap: 2rem;

  a {
    cursor: pointer;
    padding: 0.25rem 1rem;
    transition: 0.3s;
    border-radius: 0.25rem;
    color: var(--text-color);
    text-decoration: none;
  }

  a:hover {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    box-shadow: var(--shadow-l);
  }
}


@media screen and (max-width: 550px) {
  .full-icon {
    top: calc(50vh - 25rem);
  }
}

@media screen and (max-width: 450px) {
  .menu {
    gap: .5rem;
  }
}
