:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --body-background-color: #171717;
  --primary-color: #6183da;
  --primary-color-hover: #3055b1;
  --text-color: #f9f9f9;
  --button-text-color: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='light'] {
  --body-background-color: #e4e4e4;
  --primary-color: #3055b1;
  --primary-color-hover: #6183da;
  --text-color: #1a1a1a;
  --button-text-color: #e4e4e4;
}

body {
  transition: 0.3s;
  background-color: var(--body-background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  transition: background-color 0.3s;
}

a {
  text-decoration: none;
}